services:
  - type: web
    name: cruise-cards-site
    env: node
    plan: starter
    buildCommand: npm ci && NODE_OPTIONS="--max-old-space-size=4096" NEXT_TELEMETRY_DISABLED=1 npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
